[submodule "3rdParty/LuaVector"]
	path = 3rdParty/LuaVector
	url = git@github.com:Syndyr/LuaVector.git
[submodule "3rdParty/lume"]
	path = 3rdParty/lume
	url = git@github.com:rxi/lume.git
[submodule "3rdParty/lurker"]
	path = 3rdParty/lurker
	url = git@github.com:rxi/lurker.git
[submodule "3rdParty/lovebpm"]
	path = 3rdParty/lovebpm
	url = git@github.com:rxi/lovebpm.git
[submodule "3rdParty/lovebird"]
	path = 3rdParty/lovebird
	url = git@github.com:rxi/lovebird.git
[submodule "3rdParty/flux"]
	path = 3rdParty/flux
	url = git@github.com:rxi/flux.git
